body {
	background-color: rgb(71, 99, 128);
	color: white;
}

#inputContainer {
	padding: 10px;
}

#tableContainer {
	padding: 10px;
}

#summaryContainer {
	text-align: right;
}

.jumbotron {
	background-color: #eb8a2f;
}
.jumbotron h1 {
	font-weight: bolder;
}
